<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.video.xiamikan.mapper.FilmMapper" >

    <resultMap id="BaseResultMap" type="com.video.xiamikan.entity.FilmEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="film_name" property="film_name" jdbcType="VARCHAR" />
        <result column="film_performer" property="film_performer" jdbcType="VARCHAR" />
        <result column="film_director" property="film_director" jdbcType="VARCHAR"/>
        <result column="film_type" property="film_type" jdbcType="INTEGER" />
        <result column="film_national_area" property="film_national_area" jdbcType="INTEGER" />
        <result column="file_poster_url" property="file_poster_url" jdbcType="VARCHAR" />
        <result column="film_release_time" property="film_release_time" jdbcType="INTEGER" />
        <result column="film_length" property="film_length" jdbcType="INTEGER" />
        <result column="film_alias" property="film_alias" jdbcType="VARCHAR" />
        <result column="IMDb_id" property="IMDb_id" jdbcType="VARCHAR" />
        <result column="douban_id" property="douban_id" jdbcType="VARCHAR" />
        <result column="film_introduction" property="film_introduction" jdbcType="VARCHAR" />
        <result column="douban_level" property="douban_level" jdbcType="FLOAT" />
        <result column="film_subscriber_num" property="film_subscriber_num" jdbcType="INTEGER" />
        <result column="film_create_time" property="film_create_time" jdbcType="TIMESTAMP" />
        <result column="film_update_time" property="film_update_time" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, film_name, film_performer, film_director, film_type,film_national_area,file_poster_url,film_release_time,
        film_length, film_alias,IMDb_id,douban_id, film_introduction, douban_level, film_subscriber_num, film_create_time,
        film_update_time
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM xiamikan_film_tb
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM xiamikan_film_tb
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.video.xiamikan.entity.FilmEntity" >
       INSERT INTO
               xiamikan_film_tb
               (film_name, film_performer, film_director, film_type,film_national_area,file_poster_url,film_release_time,
               film_length, film_alias,IMDb_id,douban_id, film_introduction, douban_level, film_subscriber_num, film_create_time,
               film_update_time)
           VALUES
               (#{film_name}, #{film_performer}, #{film_director}, #{film_type}, #{film_national_area},
               #{file_poster_url},#{film_release_time}, #{film_length}, #{film_alias}, #{IMDb_id}, #{douban_id},
               #{film_introduction}, #{douban_level}, #{film_subscriber_num},#{film_create_time},
               #{film_update_time})
    </insert>

    <update id="update" parameterType="com.video.xiamikan.entity.FilmEntity" >
        UPDATE
        xiamikan_film_tb
        SET
        <if test="film_name != null">film_name = #{film_name},</if>
        <if test="film_performer != null">film_performer = #{film_performer},</if>
        <if test="film_director != null">film_director = #{film_director},</if>
        <if test="film_type != null">film_type = #{film_type},</if>
        <if test="film_national_area != null">film_national_area = #{film_national_area},</if>
        <if test="file_poster_url != null">file_poster_url = #{file_poster_url},</if>
        <if test="film_release_time != null">film_release_time = #{film_release_time},</if>
        <if test="film_length != null">film_length = #{film_length},</if>
        <if test="film_alias != null">film_alias = #{film_alias},</if>
        <if test="IMDb_id != null">IMDb_id = #{IMDb_id},</if>
        <if test="douban_id != null">douban_id = #{douban_id},</if>
        <if test="film_introduction != null">film_introduction = #{film_introduction},</if>
        <if test="douban_level != null">douban_level = #{douban_level},</if>
        <if test="film_subscriber_num != null">film_subscriber_num = #{film_subscriber_num},</if>
        <if test="film_create_time != null">film_create_time = #{film_create_time},</if>
        <if test="film_update_time != null">film_update_time = #{film_update_time},</if>
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
                xiamikan_film_tb
       WHERE
                id =#{id}
    </delete>

</mapper>